.pokemon-stats {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .pokemon-stats p {
    margin: 5px 0;
  }
  
  ion-card {
    margin: 10px;
  }
  
  ion-img {
    max-width: 100%;
    margin-top: 15px;
  }
  